<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Categoría</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <nav>
        <a href="/"> 
            <img src="/public/img/logo_wht.png" alt="Logo de El Galpón" class="logo">
        </a>
        <div class="barnav">
            <ul>
                <li><a href="category/cervezas">Cervezas</a></li>
                <li><a href="category/gaseosas">Gaseosas</a></li>
                <li><a href="category/vinos">Vinos</a></li>
                <li><a href="category/bebidas blancas">Bebidas Blancas<a></li>
            </ul>
        </div>
    </nav>

    <section>
        
        <form action="/addCategory" method="post">
            
            <label for="categoryName">Nombre de la categoría:</label>
            <input type="text" id="categoryName" name="categoryName" required>
            
           
            <button type="submit">Crear Categoría</button>
        </form>
        
    </section>
</body>
</html>
