<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Galpón</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <nav>
        <a href="/"> 
            <img src="/public/img/logo_wht.png" alt="Logo de El Galpón" class="logo">
        </a>
        <div class="barnav">
            <ul>
                <li><a href="cervezas">Cervezas</a></li>
                <li><a href="gaseosas">Gaseosas</a></li>
                <li><a href="vinos">Vinos</a></li>
                <li><a href="bebidas blancas">Bebidas Blancas</a></li>
            </ul>
        </div>
        <div class="auth-buttons">
            <a href="/login">Iniciar Sesión</a>
            <a href="/register">Registrarse</a>
        </div>
    </nav>

    <section>
        <% if (products.length > 0) { %>
            <% products.forEach(product => { %>
                <div class="product">
                <img src="public\img\Diseño sin título (2).png" alt="Imagen de Ejemplo">
                    <div class="product-info">
                        <h2><%= product.productName %></h2>
                        <p><%= product.description %></p>
                        <p>Precio: $<%= product.price.toFixed(2) %></p>
                        <button>Añadir al carrito</button>
                    </div>
                </div>
            <% }); %>
        <% } else { %>
            <p>No hay productos disponibles en esta categoría.</p>
        <% } %>
    </section>
</body>
</html>
